header {
    background-color: #082B59;
    border-bottom: .8rem solid #D98555;
    padding: 0 0 1rem 0;
  }
  
  .logocontainer {
    border: solid;
    margin-right: auto;
  }

  .logo {
    width: 25%;
  }
    
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 auto 0 auto;
    border: solid green;
  }
   nav li {
    margin: 0 .5rem;
    border: solid red;
  }
  
  nav a {
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    color: #ffffff;
    border: solid rgb(0, 81, 255);
  }
  
  nav a:hover {
    color: #D98555;
  }

  span {
    padding-right: 1rem
  }
  
  h1 {
    font-family: Poppins, sans-serif;
  }
  
  body {
    font-family: Lato, sans-serif;
    line-height: 2rem;
    font-size: 18px;
    margin: auto;
    background-image: url(media/images/gulp-bottom-beans.jpg);
    background-repeat: repeat-x;
    background-position: bottom;
    margin-bottom: 300px;
    border: solid green;
  }
  
  .contentflex {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    display: flex;
    flex-flow: row-reverse;
    border: solid #000000;
  }
  
  .content {
    font-family: Lato, sans-serif;
    padding: 2rem;
  }
  
  .image2 {
    width: 600px;
    border-radius: 10px;
    margin-top: 50px;
  }

  footer {
    background-color: #132B56;
    width: 100%;
    height: 15%;
    margin: 0 -6px 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    padding-bottom: 50px;
    overflow: hidden;
    border: hidden green;
  }
  
  footer p {
    text-align: center;
  }
  
  footer a {
    color: #ffffff;
    display: inline-block;
  }

  .socials {
    display: flex;
    justify-content: center;
  }
  
  footer a:hover {
    color: #D98555;
  }
  
  i {
    margin: 1.6rem 1rem 0rem 0rem;
    padding-right: .5rem;
    font-size: xx-large;
  }
  
  button {
    margin-top: 2rem;
    border-radius: 5px;
    padding: 8px 10px 8px 10px;
    background-color: #59331D;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
  }
  
  button:hover {
    background-color: #D98555;
    color: #000000;
    font-weight: bold;
  }